<div class="footer">
	<div class="row">
		<div class="col-sm-8">
			<p><small>&copy; laavanya 2024</small></p>
		</div>
		<div class="col-sm-4">
			<div class="col-sm-5">
				<p class="pull-right"><small><a href="mailto: laavanya.s@duke.edu">Email</a></small></p>
			</div>
			<div class="col-sm-5">
				<p class="pull-right"><small><a href="https://scholar.google.com/citations?user=6cwahioAAAAJ&hl=en"
							title="Google Scholar" target="_blank">Scholar</a></small></p>
			</div>
			<p class="pull-right"><small><a href="https://twitter.com/_Laavanya" title="Find me on twitter"
						target="_blank">Twitter</a></small></p>
		</div>
	</div>
</div> <!-- /footer -->