<div class="footer">
	<div class="row">
	<div class="col-sm-9">
	<p><small>&copy; laavanya 2022</small></p>
	</div>
	<div class="col-sm-4">
	<p class="pull-right"><small><a href="https://twitter.com/_Laavanya" title="Find me on twitter">Twitter</a></small></p>
	<div class="col-sm-5">
	<p class="pull-right"><small><a href="https://scholar.google.com/citations?user=6cwahioAAAAJ&hl=en" title="Google Scholar">Scholar</a></small></p>
	<p class="pull-right"><small>Contact:   </small></p>
	</div>
	</div>
	</div>
</div> <!-- /footer -->
