---
layout: default
title: About Me
home: passive
cv: passive
projects: passive
About Me: active
contact: passive
description: About Me
---

<div class="About Me">

			<span itemprop="name">
			<h2>About Me</h2>
		</span>

	<p> I found my interest in science as I explored the the how's and why's of the world around us, and over time I realized that I loved teaching and mentoring people in science.  </p>
	<p>I am currently finishing my PhD in Genetics & Genomics at Duke University. I studied Biotechnology Engineering and Molecular Biology at Anna University and University of Pennsylvania for my undergraduate and master's degrees. to merge my interest in the biological world and solving puzzles.</p>
	{% include figure.html path="img/IMG_1287 (2).JPG" title="Talk at ASHG 2023" class="img-fluid rounded z-depth-1" %} 

</div>
<div class="About Me">
	<p>
	<span itemprop="name">
			<h2>Teaching dogs and dog agility</h2>
		</span>
	
	<ul> My teaching philosophy in identifying motivators and setting people up for succcess also spills into the canine world.</ul>
	<ul> Among my hobbies, my dog and I are invested in competitive agility, and we are working towards our first Master Agility Championship. I love working with puppies and young dogs to train them for canine good citizenship behaviours, and also build foundational skills for dog agility as a team sport and bonding experience. </ul>
	{% include figure.html path="img/combined1.jpg" title="Dogtraining" class="img-fluid rounded z-depth-1" %} 
</p>
</div>
