---
layout: default
title: About Me
home: passive
cv: passive
projects: passive
About Me: active
contact: passive
description: About Me
---

<div class="About Me">

			<span itemprop="name">
			<h3>Teaching Science</h3>
		</span>

	<p> I found my interest in science as I explored the the how's and why's of the world around us, and over time I realized that I loved teaching and mentoring people in science.  </p>
	<p>I am currently finishing my PhD in Genetics & Genomics at Duke University. During graduate school, I have been involved in several teaching experiences,  ranging from people who were in middle-high school to undergraduates and graduate students. </p><p> I studied Biotechnology Engineering and Molecular Biology at Anna University and University of Pennsylvania for my undergraduate and master's degrees. During these years, I realized that I enjoyed merging my interests in the biological world and solving puzzles.</p>
	{% include figure.html path="img/IMG_1287 (2).JPG" title="Selected platform talk at ASHG 2023" class="img-fluid rounded z-depth-1" %} 

</div>
<div class="About Me">
	<p>
	<span itemprop="name">
			<h3>Teaching dogs and dog agility</h3>
		</span>
	
	<p> My teaching philosophy in identifying motivators and setting people up for succcess also spills into the canine world.</p>
	<p> Among my hobbies, my dog and I are invested in competitive agility, and we are working towards our first Master Agility Championship. I love working with puppies and young dogs to train them for canine good citizenship behaviours, and also build foundational skills for dog agility as a team sport and bonding experience. </p>
	{% include figure.html path="img/combined1.jpg" title="Dog agility training with my corgi, 2023" class="img-fluid rounded z-depth-1" %} 
</p>
</div>
